/* Importación google fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+NKo+Unjoined&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    color: black;
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
}

/* INICIO DEL ESTILO DEL MENU --------------------------------------------------------------------*/


.container {
    padding: 0 10px 0 10px;
    max-width: 1300px;
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.v-center {
    align-items: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header {
    display: block;
    width: 100%;
    position: fixed;
    background-color: whitesmoke;
    z-index: 99;
    padding: 15px;
}

.fa-cart-shopping{
    margin-top: 5px;
    padding-left: 10px;
    font-size: 19px;
}

.header .item-left {
    display: inline-block;
    flex: 0 0 10%;
}

.header .logo a {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: #000000;
    text-decoration: none;
}

.header .item-center {
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    flex: 0 0 60%;
}

.header .item-right {
    display: flex;
    flex: 0 0 5%;
    justify-content: flex-end;
}

.header .item-right a {
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    display: inline-block;
    margin-left: 10px;
    transition: color 0.3s ease;
}

.header .menu>ul>li {
    display: inline-block;
    line-height: 50px;
    margin-left: 20px;
}

.header .menu>ul>li>a {
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    position: relative;
    transition: color 0.3s ease;
}

.header .menu>ul>li .sub-menu {
    position: absolute;
    z-index: 500;
    background-color: #ffffff;
    box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
    padding: 20px 30px;
    transition: all 0.5s ease;
    margin-top: 25px;
    opacity: 0;
    visibility: hidden;
}

@media(min-width: 800px) {
    .header .menu>ul>li.menu-item-has-children:hover .sub-menu {
        margin-top: 0;
        visibility: visible;
        opacity: 1;
    }
}

.header .menu>ul>li .sub-menu>ul>li {
    line-height: 1;
}

.header .menu>ul>li .sub-menu>ul>li>a {
    display: inline-block;
    padding: 10px 0;
    font-size: 15px;
    color: #000000;
    transition: color 0.3s ease;
    text-decoration: none;
}

.header .menu>ul>li .single-column-menu {
    min-width: 280px;
    max-width: 350px;
}

.header .menu>ul>li .sub-menu.mega-menu>.list-item>ul>li {
    line-height: 1;
    display: block;
}

.header .menu>ul>li .sub-menu.mega-menu>.list-item>ul>li>a {
    padding: 10px 0;
    display: inline-block;
    font-size: 15px;
    color: #000000;
    transition: color 0.3s ease;
}

.header .menu>ul>li .sub-menu.mega-menu {
    left: 50%;
    transform: translateX(-50%);
}

.header .menu>ul>li .sub-menu.mega-menu-column-4 {
    max-width: 1100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 15px;
}

.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item {
    flex: 0 0 25%;
    padding: 0 15px;
}

.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item .title {
    font-size: 16px;
    color: rgb(54, 72, 234);
    font-weight: 500;
    line-height: 1;
    padding: 10px 0;
}

.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item.text-center .title {
    text-align: center;
}

.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item img {
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
    margin-top: 10px;
}

.header .menu>ul>li .sub-menu.mega-menu>.list-item>ul>li>a:hover,
.header .menu>ul>li .sub-menu>ul>li>a:hover,
.header .item-right a:hover,
.header .menu>ul>li:hover>a {
    color: rgb(54, 72, 234);
}

/* esta es la seccion del banner */
.banner-section {
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 100%;
    display: block;
}

.mobile-menu-head,
.mobile-menu-trigger {
    display: none;
}

/*responsive */
@media(max-width: 810px) {

    .header .item-center {
        order: 3;
        flex: 0 0 100%;
    }

    .header .item-left,
    .header .item-right {
        padding: 0;
        flex: 0 0;
    }

    .v-center {
        justify-content: space-between;
    }

    .header .mobile-menu-trigger {
        display: flex;
        height: 30px;
        width: 30px;
        margin-left: 15px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
    }

    .header .mobile-menu-trigger span {
        display: block;
        height: 2px;
        background-color: #333333;
        width: 24px;
        position: relative;
    }

    .header .mobile-menu-trigger span:before,
    .header .mobile-menu-trigger span:after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #333333;
    }

    .header .mobile-menu-trigger span:before {
        top: -6px;
    }

    .header .mobile-menu-trigger span:after {
        top: 6px;
    }

    .header .item-right {
        align-items: center;
    }

    .header .menu {
        position: fixed;
        width: 320px;
        background-color: #ffffff;
        left: 0;
        top: 0;
        height: 100%;
        overflow: hidden;
        transform: translate(-100%);
        transition: all 0.5s ease;
        z-index: 1099;
    }

    .header .menu.active {
        transform: translate(0%);
    }

    .header .menu>ul>li {
        line-height: 1;
        margin: 0;
        display: block;
    }

    .header .menu>ul>li>a {
        line-height: 50px;
        height: 50px;
        padding: 0 50px 0 15px;
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .header .menu>ul>li>a i {
        position: absolute;
        height: 50px;
        width: 50px;
        top: 0;
        right: 0;
        text-align: center;
        line-height: 50px;
        transform: rotate(-90deg);
    }

    .header .menu .mobile-menu-head {
        display: flex;
        height: 50px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 501;
        position: sticky;
        background-color: #ffffff;
        top: 0;
    }

    .header .menu .mobile-menu-head .go-back {
        height: 50px;
        width: 50px;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        line-height: 50px;
        text-align: center;
        color: #000000;
        font-size: 16px;
        display: none;
    }

    .header .menu .mobile-menu-head.active .go-back {
        display: block;
    }

    .header .menu .mobile-menu-head .current-menu-title {
        font-size: 15px;
        font-weight: 500;
        color: #000000;
    }

    .header .menu .mobile-menu-head .mobile-menu-close {
        height: 50px;
        width: 50px;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        line-height: 50px;
        text-align: center;
        color: #000000;
        font-size: 25px;
    }

    .header .menu .menu-main {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .header .menu>ul>li .sub-menu.mega-menu,
    .header .menu>ul>li .sub-menu {
        visibility: visible;
        opacity: 1;
        position: absolute;
        box-shadow: none;
        margin: 0;
        padding: 15px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 65px;
        max-width: none;
        min-width: auto;
        display: none;
        transform: translateX(0%);
        overflow-y: auto;
    }

    .header .menu>ul>li .sub-menu.active {
        display: block;
    }

    @keyframes slideLeft {
        0% {
            opacity: 0;
            transform: translateX(100%);
        }

        100% {
            opacity: 1;
            transform: translateX(0%);
        }
    }

    @keyframes slideRight {
        0% {
            opacity: 1;
            transform: translateX(0%);
        }

        100% {
            opacity: 0;
            transform: translateX(100%);
        }
    }

    .header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item img {
        margin-top: 0;
    }

    .header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item.text-center .title {
        margin-bottom: 20px;
    }

    .header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item.text-center:last-child .title {
        margin-bottom: 0px;
    }

    .header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item {
        flex: 0 0 100%;
        padding: 0px;
    }

    .header .menu>ul>li .sub-menu>ul>li>a,
    .header .menu>ul>li .sub-menu.mega-menu>.list-item>ul>li>a {
        display: block;
    }

    .header .menu>ul>li .sub-menu.mega-menu>.list-item>ul {
        margin-bottom: 15px;
    }

    .menu-overlay {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.5);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1098;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease;
    }

    .menu-overlay.active {
        visibility: visible;
        opacity: 1;
    }
}

/* FIN DEL ESTILO DEL MENU ------------------------------------------------------------------------------*/

/* INICIO DEL CARRITO ESTILOS ------------------------------------------------------------------------------*/
.container-icon{
    position: relative;
}

.count-products{
    position: absolute;
    /* posicion del contador */
    top: 80%;
    right: 0;
    left: 25px;
    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;
    /* se usa flexbox para centrar elementos y el responsive */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    /* tamaño de letra del contador */
    font-size: 15px;
}

.container-cart-products{
    /* este es el menu del carrito */
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #ffffff;
    height: auto;
    width: 40em;
    /* para que sobresalga del body */
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}

.cart-product{
    /* lista de productos dentro del carrito */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.info-cart-product{
    /* info del producto dentro de la lista de productos */
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-right: 10px;
}

.titulo-producto-carrito{
    text-align: center;
    padding: 0 50px 0 50px;
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke:rgb(19, 26, 232);
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}

/* responsive para celular */


@media screen and (max-width: 800px) {
    
    .container-cart-products{
        right: -50px;
        width: 30em;
    }

    .titulo-producto-carrito{
        padding: 0 20px 0 20px;
        font-size: 18px;
    }
}

@media screen and (max-width: 520px) {
    
    .container-cart-products{
        right: -50px;
        width: 22em;
    }

}
@media screen and (max-width: 390px) {
    .container-cart-products{
        right: -60px;
        width: 20em;
    }
    .titulo-producto-carrito{
        padding: 0 10px 0 10px;
        font-size: 18px;
    }
}

/* FIN DE LOS ESTILOS DEL CARRITO ------------------------------------------------------------------------------*/


/* INICIO DEL ESTILO DEL FOOTER --------------------------------------------------------------------------*/
footer {
    bottom: 0;
    left: 0;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
    background-color: rgb(205, 205, 205);
}

.copyright-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.copyright {
    font-size: 12px;
    opacity: 0.7;
    font-weight: 400;
    padding: 10px 0;
}

.footer-menus {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
}

.footer-container {
    height: fit-content;
    width: 100%;
    padding: 3rem 3rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-content-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

footer .website-logo {
    font-family: 'Playfair Display', serif;
    color: black;
    margin-bottom: 1.2rem;
    font-size: calc(1vw + 20px);
}

.footer-info,
.menu-item-footer {
    margin: 0.2rem 0;
    opacity: 0.7;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.menu-item-footer:hover {
    font-weight: 600;
}

.menu-title {
    font-size: var(--medium-text-font);
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}

.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
}

.social-link {
    height: 150%;
    width: 60px;
    background-image: url(../iconos/whatsapp.png);
    background-size: 70%;
    background-position: center;
    margin-right: 1rem;
    background-repeat: no-repeat;
}

.social-link:hover {
    opacity: 0.7;
}

footer .social-link:nth-of-type(2) {
    background-image: url(../iconos/instagram.png);
}

footer .social-link:nth-of-type(3) {
    background-image: url(../iconos/facebook.png);
}


/*MEDIA QUERY*/
@media (max-width: 980px) {

    .footer-container {
        padding: 2rem;
        padding-top: 0px;
        flex-direction: column;
    }

    .footer-content-container {
        width: 100%;
        padding: 2rem 0;
        border-bottom: 1px solid #000000;
        justify-content: center;
        align-items: center;
    }

    .footer-content-container:nth-of-type(1) {
        align-items: flex-start;
    }

    .footer-content-container:nth-of-type(3) {
        border-bottom: none;
        padding-bottom: 0;
    }

    .footer-menus {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid #2A2A2A;
    }

    .footer-menus .footer-content-container:nth-of-type(1) {
        width: 45%;
        align-items: flex-start;
        border-bottom: none;
    }

    .footer-menus .footer-content-container:nth-of-type(2) {
        width: 45%;
        align-items: flex-start;
        border-bottom: none;
    }
}

/* FIN DEL ESTILO DEL FOOTER --------------------------------------------------------------------------*/